* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

              /* header */

.header-section {
    height: 70px;
    background-color: blue;
    position: relative;
}

.logo {
    width: 10%;
    position: absolute;
    top: 25%;
}

.primo_blocco {
    left: 30%;
    position: absolute;
    top: 50%;
}

.liste{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    padding-left: 10px;
}

.secondo_blocco {
    position: absolute;
    left: 60%;
    top: 50%;
}

     /* hero-section */

.hero-section {
    background-color: blue;
    height: 300px;
    background-image: url(img/background-header.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right; 
    position: relative; 
}

.hero-section h1 {
    color: white;
    position: absolute;
    top: 20%;
    left: 25%;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-section input {
    position: absolute;
    top: 50%;
    left: 25%;
    padding: 5px;
    border-radius: 5px;
}

#button {
    background-color: green;
    color: azure;
}

.container {
    width: 1024px;
    /* background-color: aquamarine; */
    margin: auto;
}

/* banner-section */

.banner-section {
    height: 100px;
    background-color: lightgrey;
    position: relative;
}

.banner-section h1,p{
    text-align: center;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* 3 colonne */

.left_side img {
    width: 300px;
    height: 120px;
}

.left_side h4{
    color: green;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.left_side hr {
    width: 10%;
    margin-left: 150px;
}

.left_side p {
    font-family: Arial, Helvetica, sans-serif;
}

/* 2 colonne */


.foto {
    background-image: url(img/mountain.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}


.text >*{
    padding: 40px;
} 

.footer_left >*{
    padding: 25px;
}

.footer_right ul {
list-style: none;
padding: 20px;
margin-left: 150px;
}

.footer_right li {
    display: inline-block;
}

.help {
    position: fixed;
}
/* selettori comuni */

.btc {
    border: 1px solid black;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float_left {
    float: left;
}

.column {
    float: left;
    /* padding: 50px 0; */
    position: relative;
    height: 300px;    
}

.col-3 {
    width: 33.3%;
}

.col-2 {
    width: 50%;
}

.button_green {
    background-color: green;
    color: white;
    padding: 5px;
}