* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-section {
    height: 70px;
    background-color: blue;
    position: relative;
}

.logo {
    width: 20%;
    position: absolute;
    top: 25%;
}

.primo_blocco {
    left: 30%;
    position: absolute;
    top: 50%;
}

.primo_blocco ul li{
    list-style: none;
    display: inline-block;
}

.hero-section {
    height: 400px;
}

.container {
    width: 1024px;
    /* background-color: aquamarine; */
    margin: auto;
}

.banner-section {
    height: 100px;
}

.column {
    float: left;
    padding: 50px 0;
    position: relative;
    height: 300px;
    
}

.col-3 {
    width: 33.3%;
}

.col-2 {
    width: 50%;
}


/* selettori comuni */

.btc {
    border: 1px solid black;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}